<!DOCTYPE html>
<html>
<head>
  <title>DividendReporter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>
<%= render 'layouts/flashout' %>
<%= yield %>

</body>
</html>
